@model IEnumerable<GradConnect.Models.User>


@{
    ViewData["Title"] = "Profiles";
}

<div class="row">

    @foreach (var item in Model)
    {
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    @item.FullName
                </div>
                <div class="card-body">
                    <h5 class="card-title">@item.InstitutionName</h5>
                    <div>
                      @if(item.ProfileImage != null)
                      {
                        <img src="~/Images/UsersProfileImages/@item.ProfileImage"  
                                  class="rounded-circle"   
                                  height="100" width="100"   
                                  asp-append-version="true"
                                  style="border: 1px solid black;" />
                      }
                      else
                      {
                          <img src="~/Images/UsersProfileImages/blank.jpg"   
                                class="rounded-circle"   
                                height="100" width="100"   
                                asp-append-version="true"
                                style="1px solid black;"/>
                      }
                    </div>
                    
                    
                    <a asp-action="Index" asp-route-id="@item.Id" class="btn btn-primary">View Profile</a>
                </div>
            </div>
        </div>
    }
</div>

