@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome traveller</h1>
    <img src="~/Images/witcher.jpg"
    height="500" width="800"   
    asp-append-version="true"/>
</div>
