@model Skill

<div class="SkillEditorRow">
    @using (Html.BeginCollectionItem("skills"))
    {
        <button type="button"  id="btnDeleteSkill">
            <i class="fas fa-times"></i>
        </button>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Name"></label>
            </div>
            <div class="col-9">
                <input type="text" asp-for="Name" />
            </div>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>        
        <hr>
    }
    
</div>
