@model GradConnect.ViewModels.UpdateCvViewModel

@{
    ViewData["Title"] = "Cv edit Page";
}

<h2 class="text-info"> Edit CV</h2>
<form method="POST" asp-action="Edit">
    <div class="p-4 border rounded">        
        <div class="row">
           <div class="col-md-4">
                <div class="col-md-12 btn btn-primary"
                    <button type="button" data-toggle="collapse" data-target="#Details" aria-expanded="true" aria-controls="Details">Details</button>
                </div>
                <br />
                <div class="col-md-12 btn btn-primary"
                    <button type="button" data-toggle="collapse" data-target="#PersonalStatement" aria-expanded="false" aria-controls="PersonalStatement">Personal Statement</button>
                </div>
                <br />
                <div class="col-md-12 btn btn-primary"
                    <button type="button" data-toggle="collapse" data-target="#Education" aria-expanded="false" aria-controls="Education">Education</button>
                </div>
                <br />
                <div class="col-md-12 btn btn-primary"
                    <button type="button" data-toggle="collapse" data-target="#Experience" aria-expanded="false" aria-controls="Experience">Experience</button>
                </div>
                <br />
                <div class="col-md-12 btn btn-primary"    
                    <button type="button" data-toggle="collapse" data-target="#Skills" aria-expanded="false" aria-controls="Skills">Skills</button>
                </div>
                <br />
                <div class="col-md-12 btn btn-primary"    
                    <button type="button" data-toggle="collapse" data-target="#References" aria-expanded="false" aria-controls="References">References</button>
                </div> 
                <br />             
           </div>
           <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <div class="collapse" id="Details">
                        <div class="card card-body">
                            <h2 style= "text-align: center;">Details</h2>
                            <div class="form-group row">
                                <div class="col-3">
                                    <label asp-for="CvName"></label>
                                </div>
                                <div class="col-9">
                                    <input type="text" asp-for="CvName">
                                </div>
                                <span asp-validation-for="CvName" class="text-danger"></span>
                            </div>
                            <div class="form-group row">
                                <div class="col-3">
                                    <label asp-for="FirstName"></label>
                                </div>
                                <div class="col-9">
                                    <input type="text" asp-for="FirstName">
                                </div>
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                            <div class="form-group row">
                                <div class="col-3">
                                    <label asp-for="LastName"></label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="LastName" type="text"/>
                                </div>
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>                         
                            <div class="form-group row">
                                <div class="col-3">
                                    <label asp-for="PhoneNumber"></label>
                                </div>
                                <div class="col-9">
                                    <input type="text" asp-for="PhoneNumber"/>
                                </div>
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group row">
                                <div class="col-3">
                                    <label asp-for="Street"></label>
                                </div>
                                <div class="col-9">
                                    <input type="text" asp-for="Street"/>
                                </div>
                                <span asp-validation-for="Street" class="text-danger"></span>
                            </div>        

                            <div class="form-group row">
                                <div class="col-3">
                                    <label asp-for="City"></label>
                                </div>
                                <div class="col-9">
                                    <input type="text" asp-for="City" />
                                </div>
                                <span asp-validation-for="City" class="text-danger"></span>
                            </div>

                            <div class="form-group row">
                                <div class="col-3">
                                    <label asp-for="Email"></label>
                                </div>
                                <div class="col-9">
                                    <input type="text" asp-for="Email" />
                                </div>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group row">
                                <div class="col-3">
                                    <label asp-for="Postcode"></label>
                                </div>
                                <div class="col-9">
                                    <input type="text" asp-for="Postcode" />
                                </div>
                                <span asp-validation-for="Postcode" class="text-danger"></span>
                            </div>
                            <div class="form-group row">
                                <div class="col-3">
                                    <label asp-for="DateOfBirth"></label>
                                </div>
                                <div class="col-9">
                                    <input type="text" asp-for="DateOfBirth" />
                                </div>
                                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="collapse" id="PersonalStatement">
                        <div class="card card-body">
                            <h2 style= "text-align: center;">Personal Statement</h2>
                            <div class="form-group row">
                                <div class="col-3">
                                    <label asp-for="PersonalStatement"></label>
                                </div>
                                <div class="col-9">
                                    <textarea rows="4" cols="50" asp-for="PersonalStatement" >
                                    </textarea>
                                </div>
                                <span asp-validation-for="PersonalStatement" class="text-danger"></span>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="collapse" id="Education">
                        <div class="card card-body" >
                            <div id="educationList">
                                <h2 style= "text-align: center;">Education</h2>
                                @foreach (var item in Model.Educations)
                                {
                                    <div id="EduEditorRows">
                                        <partial name="_EducationEditor" model="item" />                                
                                        
                                    </div>                                    
                                }                            
                            </div>
                             <button type="button" asp-action="BlankEducation" asp-controller="CV" id="btnAddEdu" style="border-radius:42px;">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                       
                    </div>
                    <div class="col-md-12">
                        <div class="collapse" id="Experience">
                        <div class="card card-body" >
                            <div id="experienceList">                            
                                <h2 style= "text-align: center;">Experience</h2>
                                @foreach(var exp in Model.Experiences)
                                {
                                    <div id="ExpEditorRows">
                                    <partial name="_ExperienceEditor" model="exp"/>                                
                                        
                                    </div>
                                    
                                }
                            </div>
                            <button type="button" asp-action="BlankExperience" asp-controller="CV" id="btnAddExp" style="border-radius:42px;">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="collapse" id="Skills">
                        <div class="card card-body">
                            <div id="skillsList">                            
                                <h2 style= "text-align: center;">Skills</h2>
                                @foreach (var item in Model.Skills)
                                {
                                    <div id="SkillEditorRows">
                                    <partial name="_SkillsEditor" model="item"/>                                
                                        
                                    </div>
                                    
                                }
                            </div>
                            <button type="button" asp-action="BlankSkill" asp-controller="CV" id="btnAddSkill" style="border-radius:42px;">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="collapse" id="References">
                        <div class="card card-body" >
                            <div id="referencesList">                            
                                <h2 style= "text-align: center;">References</h2>
                                @foreach(var item in Model.References)
                                {
                                    <div id="RefEditorRows">
                                    <partial name="_ReferencesEditor" model="item"/>                                
                                        
                                    </div>
                                    
                                }
                            </div>
                            <button type="button" asp-action="BlankReference" asp-controller="CV" id="btnAddRef" style="border-radius:42px;">
                                    <i class="fas fa-plus"></i>
                            </button>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>       
            
        <br />
    <div class="form-group">
        <input type="submit" class="btn btn-success" value="Edit" />
        <a asp-action="Index" class="btn btn-primary">Back to List</a>
    </div>
    </div>    
</form>
 @section Scripts{
<script>

    //ADD EDUCATION ROW
   $(document).on("click" ,"#btnAddEdu", function () {
        $.ajax({
            url: "/CV/BlankEducation",
            cache: false,
            success: function (html) { $("#educationList").append(html);
            }      
        });
        return false;
    });

    // ADD EXPERIENCE ROW
    $(document).on("click" ,"#btnAddExp", function () {
        $.ajax({
            url: "/CV/BlankExperience",
            cache: false,
            success: function (html) { $("#experienceList").append(html);
            }      
        });
        return false;
    });    

    //ADD SKILL ROW
    $(document).on("click" ,"#btnAddSkill", function () {
        $.ajax({
            url: "/CV/BlankSkill",
            cache: false,
            success: function (html) { $("#skillsList").append(html);
            }      
        });
        return false;
    });    

    //ADD REFERENCE ROW
    $(document).on("click" ,"#btnAddRef", function () {
        $.ajax({
            url: "/CV/BlankReference",
            cache: false,
            success: function (html) { $("#referencesList").append(html);
            }      
        });
        return false;
    }); 
   
    //REMOvE EDUCATION
    $(document).on("click", "#removeEdu", function () {
        console.log($(this).text());
        $(this).parents("div.EduEditorRow:first").remove();
        console.log('clicked');
        return false;
    });
        
    //REMOvE SKILL
    $(document).on("click", "#removeSkill", function () {
        console.log($(this).text());
            $(this).parents("div.SkillEditorRow:first").remove();
        console.log('clicked');
        return false;
    });
        
    //REMOvE EXPERIENCE
    $(document).on("click", "#removeExp", function () {
        console.log($(this).text());
        $(this).parents("div.ExpEditorRow:first").remove();
        console.log('clicked');
        return false;
    });
        
    //REMOvE REFERENCE
    $(document).on("click", "#removeRef", function () {
        console.log($(this).text());
        $(this).parents("div.RefEditorRow:first").remove();
        console.log('clicked');
        return false;
    });
        
</script>
} 