@model IEnumerable<GradConnect.Models.CV>
@{
    ViewData["Title"] = "CV Index Page";
}

<div class="text-center">
    <h1 class="display-4">CV index page</h1>    
</div>
<a class="btn btn-primary" href="cv/create" role="button">Create</a>
@{string controller = "Cv";}
<div>
    <table class="table table-striped">
        
        <tr class="table-info">
            CV title
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.CvName)
                </td>
                <td>
                    <partial name="_TableButtonPartial" model="@new GradConnect.ViewModels.TablePartialVM(item.Id, controller);" />
                </td>
            </tr>
        }
    </table>   
</div>